# ignore everything
/*

# http://php-pds.com/

## dirs
!/bin/
!/config/
!/docs/
!/public/
!/resources/
!/src/
!/tests/

## files
!/.gitignore
!/LICENSE*
!/README*
!/composer*
!/phpunit.xml.dist
!/.travis.yml
